---
interface Props {
    year: number
}

const { year } = Astro.props

import { FaAngleRight } from '../Icons'
---

<div>
    <a href="/proyectos" class="text-[rgb(32,122,237)] hover:underline">Proyectos</a>
    {' '}
    <span>
        <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 320 512"
            data-astro-cid-6h6ov5ga="true"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
        >
        <path
            d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
        ></path>
    </svg>
    </span>
    {' '}
    <h3 class="inline-block font-bold mb-4 text-base">
        <slot />
        <span class='whitespace-nowrap inline-block align-middle ps-1 pe-1 uppercase text-xs rounded-sm font-bold bg-gray-100 text-gray-800'>
            {year}
        </span>
    </h3>
</div>

<style>
    svg {
        @apply w-[.7em] h-[.7em] inline-block leading-[1em] align-middle;
    }
</style>