---
import P from "../components/P.astro";
import MainLayout from "../layouts/MainLayout.astro";
import HeadingTitle from "../components/HeadingTitle.astro";
import BioSection from "../components/Bio/BioSection.astro";
import BioYear from "../components/Bio/BioYear.astro";
import ButtonLink from "../components/ButtonLink.astro";
---

<MainLayout title="Inicio">
    <article class="relative">
        <div class="w-full ms-auto me-auto ps-4 pe-4 max-w-[50ch]">
            <div
                class="p-3 mb-6 bg-[rgba(255,255,255,.36)] text-center rounded-lg"
            >
                Hola, soy Jerson David Silva Arjona, soy de Colombia
            </div>
            <div class="md:flex">
                <div class="flex-grow">
                    <h2 class="text-4xl font-bold">Daviardev</h2>
                    <p>Un gran apasioado por la programación web.</p>
                </div>
                <div class="flex-grow-0 mt-4 md:mt-0 md:ml-6 items-center">
                    <img
                        src="/daviardev.jpg"
                        width="100%"
                        height="100%"
                        class="border-[rgba(255,255,255,.80)] border-[2px] border-solid inline-block max-w-full rounded-full w-full h-full"
                        alt="Jerson David Silva Arjona"
                    />
                </div>
            </div>
            <section class="mb-6">
                <HeadingTitle>
                    Sobre mi
                </HeadingTitle>
                <P>
                    Soy un Programador Web, me apasiona la programación en todos sus
                    aspectos, pero me especializo en el lado del cliente. Por lo
                    general uso Framework y librerías de JavaScript como Next.js y
                    React.js para crear mis proyectos. Me gusta ayudar a los demás,
                    seguir aprendiendo y no parar de aprender.
                </P>
                <div class="my-4 flex justify-center">
                    <a href="/proyectos">
                        <button>
                            Mis proyectos
                            <span class="inline-block self-center flex-shrink-0 ms-0.5">
                                <svg viewBox="0 0 24 24" focusable="false" class="w-[1em] h-[1em] inline-block leading-[1em] text-current" aria-hidden="true"><path fill="currentColor" d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg>
                            </span>
                        </button>
                    </a>
                </div>
            </section>
            <section class="mb-6">
                <HeadingTitle>
                    Biografía
                </HeadingTitle>
                <BioSection><BioYear>1999</BioYear>Nací en Santa Marta / Colombia</BioSection>
                <BioSection><BioYear>2020 / 2022</BioYear>Estudié programación web por mi cuenta</BioSection>
                <BioSection><BioYear>2022</BioYear>Me gradué como técnico profesional en sistemas informáticos en la unibarranquilla (ITSA)</BioSection>
                <BioSection><BioYear>2023</BioYear>Estudié programación de software en el SENA</BioSection>
                <BioSection><BioYear>2023 / 2024</BioYear>Hice mis prácticas en la empresa Trading Group en el área TI</BioSection>
            </section>

            <section class="mb-6">
                <HeadingTitle>
                    Me ♥
                </HeadingTitle>

                <P>Programación web, música, JS, ReactJS, Astro</P>
            </section>

            <section class="mb-6">
                <HeadingTitle>
                    Puedes encontrarme en
                </HeadingTitle>

                <ul>
                    <li>
                        <ButtonLink path="https://github.com/daviardev">
                            <span class="inline-flex self-center flex-shrink-0 me-2">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" aria-hidden="true" focusable="false" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M256 32C132.3 32 32 134.9 32 261.7c0 101.5 64.2 187.5 153.2 217.9a17.56 17.56 0 003.8.4c8.3 0 11.5-6.1 11.5-11.4 0-5.5-.2-19.9-.3-39.1a102.4 102.4 0 01-22.6 2.7c-43.1 0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1 1.4-14.1h.1c22.5 2 34.3 23.8 34.3 23.8 11.2 19.6 26.2 25.1 39.6 25.1a63 63 0 0025.6-6c2-14.8 7.8-24.9 14.2-30.7-49.7-5.8-102-25.5-102-113.5 0-25.1 8.7-45.6 23-61.6-2.3-5.8-10-29.2 2.2-60.8a18.64 18.64 0 015-.5c8.1 0 26.4 3.1 56.6 24.1a208.21 208.21 0 01112.2 0c30.2-21 48.5-24.1 56.6-24.1a18.64 18.64 0 015 .5c12.2 31.6 4.5 55 2.2 60.8 14.3 16.1 23 36.6 23 61.6 0 88.2-52.4 107.6-102.3 113.3 8 7.1 15.2 21.1 15.2 42.5 0 30.7-.3 55.5-.3 63 0 5.4 3.1 11.5 11.4 11.5a19.35 19.35 0 004-.4C415.9 449.2 480 363.1 480 261.7 480 134.9 379.7 32 256 32z"></path></svg>
                            </span>
                            @daviardev
                        </ButtonLink>
                    </li>
                </ul>
            </section>

            <section class="mb-6">
                <HeadingTitle>
                    Colaboremos juntos
                </HeadingTitle>
                <P>En caso que quieras que hagamos un proyecto o simplemente quieres saber más de mi, contactame.</P>

                <div class="my-4 flex justify-center">
                    <a href="mailto:jerson.silva99@hotmail.com">
                        <button>
                            <span class="inline-flex self-center flex-shrink-0 mr-2">
                                <svg viewBox="0 0 24 24" focusable="false" class="w-[1em] h-[1em] inline-flex leading-[1em] flex-shrink-0 align-middle" aria-hidden="true"><g fill="currentColor"><path d="M11.114,14.556a1.252,1.252,0,0,0,1.768,0L22.568,4.87a.5.5,0,0,0-.281-.849A1.966,1.966,0,0,0,22,4H2a1.966,1.966,0,0,0-.289.021.5.5,0,0,0-.281.849Z"></path><path d="M23.888,5.832a.182.182,0,0,0-.2.039l-6.2,6.2a.251.251,0,0,0,0,.354l5.043,5.043a.75.75,0,1,1-1.06,1.061l-5.043-5.043a.25.25,0,0,0-.354,0l-2.129,2.129a2.75,2.75,0,0,1-3.888,0L7.926,13.488a.251.251,0,0,0-.354,0L2.529,18.531a.75.75,0,0,1-1.06-1.061l5.043-5.043a.251.251,0,0,0,0-.354l-6.2-6.2a.18.18,0,0,0-.2-.039A.182.182,0,0,0,0,6V18a2,2,0,0,0,2,2H22a2,2,0,0,0,2-2V6A.181.181,0,0,0,23.888,5.832Z"></path></g></svg>
                            </span>
                            Enviame un correo
                        </button>
                    </a>
                </div>
            </section>
        </div>
    </article>
</MainLayout>

<style>
    h1 {
        font-size: 34px;
        text-align: center;
        color: black;
    }

    img {
        width: 100px;
        height: 100px;
    }

    button {
        display: inline-flex;
        appearance: none;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: center;
        justify-content: center;
        user-select: none;
        position: relative;
        white-space: nowrap;
        vertical-align: middle;
        outline: transparent solid 2px;
        outline-offset: 2px;
        line-height: 1.2;
        border-radius: .375rem;
        font-weight: 600;
        transition-property: background-color;
        transition-duration: 200ms;
        height: 2.5rem;
        min-width: 2.5rem;
        font-size: 1rem;
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
        background: #319795;
        color: #fff;

        &:hover {
            background-color: #207c7b;
        }

        &:active {
            background-color: #1f5e5d;
        }
    }
</style>
