---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title='Recursos'>
    <main>
        Aqui se mostrara los recursos que he usado y me han servido para hacer ciertas cosas y aprender
    </main>
</MainLayout>