---
interface Props {
    href;
}

const { href } = Astro.props;
---

<a
    href={href}
    class='p-2 bg-transparent text-[#202023] hover:underline inline-flex'
>
    <slot />
</a>

<style>
    .active {
        background-color: #88ccca;
    }
</style>