---
interface Props {
    meta: string,
    link: string,
    icon?: string
}

const { meta, link, icon } = Astro.props
---

<span class="whitespace-nowrap inline-block align-middle ps-1 pe-1 uppercase text-xs rounded-sm font-bold bg-green-100 text-green-800 mr-2">
    {meta}
</span>
<a
    href={link}
    target="_blank"
>
    {link}

    {icon && (
        <svg
            viewBox="0 0 24 24"
            focusable="false"
        >
            <g
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-width="2"
            >
            <path
                d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                <path
                    d="M15 3h6v6"
                ></path>
                <path
                    d="M10 14L21 3"
                ></path>
            </g>
        </svg>
    )}
</a>

<style>
    svg {
		@apply w-[1em] h-[1em] inline-block leading-[1em] align-middle;
	}
</style>