<header>
    <nav class="fixed w-full bg-[#ffffff40] backdrop-blur-[10px] z-20">
        <div class="flex p-2 wrap items-center justify-between">
            <div class="items-center mr-5">
                <h1 class="text-2xl leading-thighter font-bold letter-tighter">
                    Logo
                </h1>
            </div>
        </div>
    </nav>
</header>