---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="finderdev">
    <article class="relative">
        <div class="w-full ms-auto me-auto max-w-[60ch] ps-4 pe-4">
            <div>
                <a href="" class=""></a>
            </div>
        </div>
    </article>
</MainLayout>